requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
SQLAlchemy==2.0.35
python-dotenv==1.0.1
APScheduler==3.10.4
composio==0.18.0
# psycopg2-binary==2.9.9  # only needed for Postgres in production
cloudscraper==1.2.71
fastapi[standard]==0.115.5

# dev / test
pytest==8.3.3
pytest-mock==3.14.0
ruff==0.7.4
